In [1]:
import pandas as pd
import sweetviz
import numpy as np

In [2]:
df = pd.read_csv('output.csv')

In [3]:
df.dtypes

msno                       object
city                        int64
bd                          int64
gender                     object
registered_via              int64
registration_init_time      int64
msno_R                     object
payment_method_id           int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
msno_R1                    object
date                        int64
num_25                      int64
num_50                      int64
num_75                      int64
num_985                     int64
num_100                     int64
num_unq                     int64
total_secs                float64
msno_R2                    object
is_churn                    int64
dtype: object

In [4]:
df=df.drop(['msno','bd','msno_R','msno_R1','num_25','num_50','num_75','num_985','num_100','num_unq','msno_R2','payment_method_id','date'], axis=1)

In [5]:
df.dtypes

city                        int64
gender                     object
registered_via              int64
registration_init_time      int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
total_secs                float64
is_churn                    int64
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
df['gender'] = labelencoder.fit_transform(df['gender'])
df

,city,gender,registered_via,registration_init_time,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,total_secs,is_churn
0,13,1,9,20110918,30,149,149,1,20170327,20170426,0,6251.930,0
1,13,1,9,20110918,30,149,149,1,20170327,20170426,0,886.523,0
2,13,1,9,20110918,30,149,149,1,20170327,20170426,0,5610.564,0
3,13,1,9,20110918,30,149,149,1,20170327,20170426,0,0.131,0
4,13,1,9,20110918,30,149,149,1,20170327,20170426,0,9543.254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513517,5,1,7,20151019,30,99,99,1,20170319,20170419,0,11128.153,0
3513518,5,1,7,20151019,30,99,99,1,20170319,20170419,0,6698.158,0
3513519,5,1,7,20151019,30,99,99,1,20170319,20170419,0,5967.741,0
3513520,5,1,7,20151019,30,99,99,1,20170319,20170419,0,22778.409,0
3513521,5,1,7,20151019,30,99,99,1,20170319,20170419,0,16034.585,0

In [9]:
df.dtypes

city                        int64
gender                      int32
registered_via              int64
registration_init_time      int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
total_secs                float64
is_churn                    int64
dtype: object

In [18]:
my_report  = sweetviz.analyze([df,'Train'], target_feat='is_churn')
my_report.show_html('FinalReport.html')

                                             |          | [  0%]   00:00 -> (? left)

C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\ruwin\anaconda3\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))

Report FinalReport.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.