In [2]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset
import pandas as pd

subscription_id = 'c6a1d5d0-2956-4788-bc3e-ad7495ba03b9'
resource_group = 'rg-g7-dev'
workspace_name = 'ml-g7-dev'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='kkbox-customer-stats')
df = dataset.to_pandas_dataframe()
df

,msno,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,...,is_cancel,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,is_churn
0,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170329,0,0,0,0,24,19,6251.930,0
1,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170322,1,0,0,0,4,3,886.523,0
2,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170313,9,8,5,8,6,33,5610.564,0
3,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170319,1,0,0,0,0,1,0.131,0
4,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170323,1,0,1,0,38,32,9543.254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513517,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170330,2,0,0,1,41,44,11128.153,0
3513518,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170324,2,1,0,0,25,27,6698.158,0
3513519,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170329,10,0,0,0,23,32,5967.741,0
3513520,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170311,11,0,3,1,86,101,22778.409,0
3513521,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170312,19,0,1,0,63,82,16034.585,0

In [3]:
df = dataset.to_pandas_dataframe()

df.head(5)

,msno,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,...,is_cancel,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,is_churn
0,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170329,0,0,0,0,24,19,6251.930,0
1,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170322,1,0,0,0,4,3,886.523,0
2,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170313,9,8,5,8,6,33,5610.564,0
3,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170319,1,0,0,0,0,1,0.131,0
4,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170323,1,0,1,0,38,32,9543.254,0

In [4]:
df

,msno,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,...,is_cancel,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,is_churn
0,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170329,0,0,0,0,24,19,6251.930,0
1,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170322,1,0,0,0,4,3,886.523,0
2,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170313,9,8,5,8,6,33,5610.564,0
3,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170319,1,0,0,0,0,1,0.131,0
4,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,40,30,149,149,...,0,20170323,1,0,1,0,38,32,9543.254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513517,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170330,2,0,0,1,41,44,11128.153,0
3513518,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170324,2,1,0,0,25,27,6698.158,0
3513519,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170329,10,0,0,0,23,32,5967.741,0
3513520,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170311,11,0,3,1,86,101,22778.409,0
3513521,vvMAO/rasdxnKypB4SBEdLClhMbD0041+t5dKSAKDk8=,5,22,male,7,20151019,41,30,99,99,...,0,20170312,19,0,1,0,63,82,16034.585,0

In [5]:
df.dtypes

msno                       object
city                        int64
bd                          int64
gender                     object
registered_via              int64
registration_init_time      int64
payment_method_id           int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
date                        int64
num_25                      int64
num_50                      int64
num_75                      int64
num_985                     int64
num_100                     int64
num_unq                     int64
total_secs                float64
is_churn                    int64
dtype: object

In [6]:
df=df.drop(['msno','bd','num_25','num_50','num_75','num_985','num_100','num_unq','payment_method_id','date'], axis=1)

In [7]:
df.dtypes

city                        int64
gender                     object
registered_via              int64
registration_init_time      int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
total_secs                float64
is_churn                    int64
dtype: object

In [8]:
df

,city,gender,registered_via,registration_init_time,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,total_secs,is_churn
0,13,male,9,20110918,30,149,149,1,20170327,20170426,0,6251.930,0
1,13,male,9,20110918,30,149,149,1,20170327,20170426,0,886.523,0
2,13,male,9,20110918,30,149,149,1,20170327,20170426,0,5610.564,0
3,13,male,9,20110918,30,149,149,1,20170327,20170426,0,0.131,0
4,13,male,9,20110918,30,149,149,1,20170327,20170426,0,9543.254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513517,5,male,7,20151019,30,99,99,1,20170319,20170419,0,11128.153,0
3513518,5,male,7,20151019,30,99,99,1,20170319,20170419,0,6698.158,0
3513519,5,male,7,20151019,30,99,99,1,20170319,20170419,0,5967.741,0
3513520,5,male,7,20151019,30,99,99,1,20170319,20170419,0,22778.409,0
3513521,5,male,7,20151019,30,99,99,1,20170319,20170419,0,16034.585,0

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
df['gender'] = labelencoder.fit_transform(df['gender'])
df

,city,gender,registered_via,registration_init_time,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,total_secs,is_churn
0,13,1,9,20110918,30,149,149,1,20170327,20170426,0,6251.930,0
1,13,1,9,20110918,30,149,149,1,20170327,20170426,0,886.523,0
2,13,1,9,20110918,30,149,149,1,20170327,20170426,0,5610.564,0
3,13,1,9,20110918,30,149,149,1,20170327,20170426,0,0.131,0
4,13,1,9,20110918,30,149,149,1,20170327,20170426,0,9543.254,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513517,5,1,7,20151019,30,99,99,1,20170319,20170419,0,11128.153,0
3513518,5,1,7,20151019,30,99,99,1,20170319,20170419,0,6698.158,0
3513519,5,1,7,20151019,30,99,99,1,20170319,20170419,0,5967.741,0
3513520,5,1,7,20151019,30,99,99,1,20170319,20170419,0,22778.409,0
3513521,5,1,7,20151019,30,99,99,1,20170319,20170419,0,16034.585,0

In [11]:
features=df.drop('is_churn', axis=1)
labels=df['is_churn']

In [13]:
from imblearn.over_sampling import SMOTE
# transform the dataset
oversample = SMOTE()
X, y = oversample.fit_resample(features, labels)

In [14]:
features.dtypes

city                        int64
gender                      int64
registered_via              int64
registration_init_time      int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
total_secs                float64
dtype: object

In [15]:
from sklearn.model_selection import train_test_split
#Splitting data
#Split Ratio=Training:60%, Validation:20%, Testing:20%
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.4, random_state=42)
X_test, X_val, y_test, y_val=train_test_split(X_test,y_test,test_size=0.5, random_state=42)

## DNN Classifier

In [16]:
from __future__ import absolute_import, division, print_function, unicode_literals

# TensorFlow 
import tensorflow as tf
import tensorflow.feature_column as fc

In [17]:
#model evaluation function
def input_evaluation_set():
    features=df.drop('is_churn', axis=1)
    labels=df['is_churn']
    return features, labels

In [18]:
#model training function
def input_fn(features, labels, training=True, batch_size=100):

    # convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # shuffle and repeat dataset in model training
    if training:
        dataset = dataset.shuffle(1000).repeat()

    return dataset.batch(batch_size)

In [19]:
# Feature columns describe how to use the input.
my_feature_columns = []
for key in X_train.keys():
    my_feature_columns.append(tf.feature_column.numeric_column(key=key))

In [20]:
#build model
classifier = tf.estimator.DNNClassifier(
    feature_columns=my_feature_columns,
    hidden_units=[30, 10],
    n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpeganmo7q
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpeganmo7q', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

### DNN Classifier - Model Training

In [21]:
# train model
classifier.train(
    input_fn=lambda: input_fn(X_train, y_train, training=True),
    steps=5000)

WARNING:tensorflow:From /anaconda/envs/azureml_py38/lib/python3.8/site-packages/tensorflow/python/ops/resource_variable_ops.py:1659: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /anaconda/envs/azureml_py38/lib/python3.8/site-packages/tensorflow/python/training/training_util.py:235: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From /anaconda/envs/azureml_py38/lib/python3.8/site-packages/tensorflow/python/keras/optimizer_v2/adagrad.py:105: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpeganmo7q/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 177309.8, step = 0
INFO:tensorflow:global_step/sec: 452.781
INFO:tensorflow:loss = 7888.3423, step = 100 (0.222 sec)
INFO:tensorflow:global_step/sec: 666.81
INFO:tensorflow:loss = 1133.9485, step = 200 (0.150 sec)
INFO:tensorflow:global_step/sec: 646.971
INFO:tensorflow:loss = 5933.489, step = 300 (0.155 sec)
INFO:tensorflow:global_step/sec: 653.726
INFO:tensorflow:loss = 3337.7737, step = 400 (0.153 sec)
INFO:tensorflow:global_step/sec: 660.059
INFO:tensorflow:loss = 3610.2554, step = 500 (0.152 sec)
INFO:tensorflow:global_step/sec: 651.643
INFO:tensorflow:loss = 3140.7693, step = 600 (0.153 sec)
INFO:tensorflow:global_step/sec: 663.228
INFO:tensorflow:loss = 1230.4547, step = 700 (0.151 sec)
INFO:tensorflow:global_step/sec: 651.072
INFO:tensorflow:loss = 3149.7656, step = 800 (0.155 sec)
INFO:tensorflow:global_step/sec: 615.821
INFO:tensorflow:loss = 792.38116, step = 900 (0.161 sec)
INFO:tensorflow:global_step/sec: 617.123
INFO:tensorflow:loss = 3575.5974, step = 1000 (0.162 sec)
INFO:tensorflow:global_step/sec: 658.145
INFO:tensorflow:loss = 2883.086, step = 1100 (0.152 sec)
INFO:tensorflow:global_step/sec: 649.102
INFO:tensorflow:loss = 1193.1425, step = 1200 (0.154 sec)
INFO:tensorflow:global_step/sec: 605.337
INFO:tensorflow:loss = 1769.8896, step = 1300 (0.166 sec)
INFO:tensorflow:global_step/sec: 651.304
INFO:tensorflow:loss = 2274.4417, step = 1400 (0.152 sec)
INFO:tensorflow:global_step/sec: 658.184
INFO:tensorflow:loss = 2406.7532, step = 1500 (0.152 sec)
INFO:tensorflow:global_step/sec: 654.386
INFO:tensorflow:loss = 1765.4862, step = 1600 (0.153 sec)
INFO:tensorflow:global_step/sec: 658.062
INFO:tensorflow:loss = 1538.5167, step = 1700 (0.152 sec)
INFO:tensorflow:global_step/sec: 657.082
INFO:tensorflow:loss = 913.7336, step = 1800 (0.152 sec)
INFO:tensorflow:global_step/sec: 663.136
INFO:tensorflow:loss = 1204.5208, step = 1900 (0.152 sec)
INFO:tensorflow:global_step/sec: 646.574
INFO:tensorflow:loss = 1049.1405, step = 2000 (0.154 sec)
INFO:tensorflow:global_step/sec: 654.34
INFO:tensorflow:loss = 1558.0837, step = 2100 (0.153 sec)
INFO:tensorflow:global_step/sec: 653.867
INFO:tensorflow:loss = 1789.7588, step = 2200 (0.155 sec)
INFO:tensorflow:global_step/sec: 642.908
INFO:tensorflow:loss = 1044.2169, step = 2300 (0.154 sec)
INFO:tensorflow:global_step/sec: 658.368
INFO:tensorflow:loss = 1454.7572, step = 2400 (0.152 sec)
INFO:tensorflow:global_step/sec: 659.064
INFO:tensorflow:loss = 737.66656, step = 2500 (0.152 sec)
INFO:tensorflow:global_step/sec: 643.133
INFO:tensorflow:loss = 1234.3043, step = 2600 (0.156 sec)
INFO:tensorflow:global_step/sec: 652.497
INFO:tensorflow:loss = 993.7287, step = 2700 (0.153 sec)
INFO:tensorflow:global_step/sec: 622.784
INFO:tensorflow:loss = 1272.4487, step = 2800 (0.161 sec)
INFO:tensorflow:global_step/sec: 612.662
INFO:tensorflow:loss = 2202.9072, step = 2900 (0.163 sec)
INFO:tensorflow:global_step/sec: 625.37
INFO:tensorflow:loss = 1135.5784, step = 3000 (0.160 sec)
INFO:tensorflow:global_step/sec: 642.728
INFO:tensorflow:loss = 1463.658, step = 3100 (0.155 sec)
INFO:tensorflow:global_step/sec: 648.598
INFO:tensorflow:loss = 475.25958, step = 3200 (0.155 sec)
INFO:tensorflow:global_step/sec: 645.46
INFO:tensorflow:loss = 979.3384, step = 3300 (0.155 sec)
INFO:tensorflow:global_step/sec: 601.02
INFO:tensorflow:loss = 768.17065, step = 3400 (0.166 sec)
INFO:tensorflow:global_step/sec: 641.159
INFO:tensorflow:loss = 922.41406, step = 3500 (0.156 sec)
INFO:tensorflow:global_step/sec: 634.636
INFO:tensorflow:loss = 1311.7603, step = 3600 (0.157 sec)
INFO:tensorflow:global_step/sec: 624.264
INFO:tensorflow:loss = 1480.6421, step = 3700 (0.160 sec)
INFO:tensorflow:global_step/sec: 641.771
INFO:tensorflow:loss = 1225.6527, step = 3800 (0.156 sec)
INFO:tensorflow:global_step/sec: 613.246
INFO:tensorflow:loss = 1551.9661, step = 3900 (0.164 sec)
INFO:tensorflow:global_step/sec: 604.678
INFO:tensorflow:loss = 1010.9393, step = 4000 (0.165 sec)
INFO:tensorflow:global_step/sec: 621.089
INFO:tensorflow:loss = 952.6824, step = 4100 (0.161 sec)
INFO:tensorflow:global_step/sec: 647.079
INFO:tensorflow:loss = 783.71265, step = 4200 (0.158 sec)
INFO:tensorflow:global_step/sec: 608.492
INFO:tensorflow:loss = 857.49945, step = 4300 (0.161 sec)
INFO:tensorflow:global_step/sec: 632.801
INFO:tensorflow:loss = 884.9542, step = 4400 (0.158 sec)
INFO:tensorflow:global_step/sec: 627.369
INFO:tensorflow:loss = 558.9139, step = 4500 (0.159 sec)
INFO:tensorflow:global_step/sec: 645.881
INFO:tensorflow:loss = 633.47833, step = 4600 (0.156 sec)
INFO:tensorflow:global_step/sec: 624.707
INFO:tensorflow:loss = 939.4034, step = 4700 (0.159 sec)
INFO:tensorflow:global_step/sec: 641.778
INFO:tensorflow:loss = 491.7282, step = 4800 (0.156 sec)
INFO:tensorflow:global_step/sec: 643.839
INFO:tensorflow:loss = 1285.6533, step = 4900 (0.155 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 5000...
INFO:tensorflow:Saving checkpoints for 5000 into /tmp/tmpeganmo7q/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 5000...
INFO:tensorflow:Loss for final step: 1038.785.

### DNN Classifier - Model Evaluation

In [22]:
eval_result = classifier.evaluate(
    input_fn=lambda: input_fn(X_test, y_test, training=False))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2022-04-21T06:53:02Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpeganmo7q/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 21.08287s
INFO:tensorflow:Finished evaluation at 2022-04-21-06:53:23
INFO:tensorflow:Saving dict for global step 5000: accuracy = 0.5090992, accuracy_baseline = 0.5005689, auc = 0.50943494, auc_precision_recall = 0.5050638, average_loss = 681.40015, global_step = 5000, label/mean = 0.4994311, loss = 681.40015, precision = 0.5060094, prediction/mean = 0.7097468, recall = 0.7190924
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 5000: /tmp/tmpeganmo7q/model.ckpt-5000

Test set accuracy: 0.509

## Keras Neural Network

In [28]:
#import packages
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout

In [29]:
#build sequential model
sequential_model = Sequential([
  Flatten(input_shape=(12,)),
  Dense(512, activation=tf.nn.relu),
  Dense(200, activation=tf.nn.relu),
  Dense(100, activation=tf.nn.relu),
  Dense(2, activation=tf.nn.softmax)
])

In [30]:
#compile model
sequential_model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [31]:
from tensorflow.keras.callbacks import EarlyStopping
early_stop =EarlyStopping(patience=3)

### Keras Neural Network - Model Training and Evaluation

In [33]:
#train model
history=sequential_model.fit(X_train, y_train,validation_data=(X_test, y_test),epochs=5,callbacks=[early_stop])
#model.fit(X_train, y_train,validation_data=(X_test, y_test)

Epoch 1/5
116344/116344 [==============================] - 220s 2ms/step - loss: 7.6741 - accuracy: 0.5001 - val_loss: 7.6681 - val_accuracy: 0.4994
Epoch 2/5
116344/116344 [==============================] - 224s 2ms/step - loss: 7.6741 - accuracy: 0.5001 - val_loss: 7.6681 - val_accuracy: 0.4994
Epoch 3/5
116344/116344 [==============================] - 224s 2ms/step - loss: 7.6740 - accuracy: 0.5001 - val_loss: 7.6681 - val_accuracy: 0.4994
Epoch 4/5
116344/116344 [==============================] - 222s 2ms/step - loss: 7.6740 - accuracy: 0.5001 - val_loss: 7.6681 - val_accuracy: 0.4994