In [ ]:
import pandas as pd
import pandas_profiling
import numpy as np

#importing dataset
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/output.csv')

In [ ]:
df.head(5)

,msno,city,bd,gender,registered_via,registration_init_time,msno_R,payment_method_id,payment_plan_days,plan_list_price,...,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,msno_R2,is_churn
0,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,40,30,149,...,20170329,0,0,0,0,24,19,6251.930,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,0
1,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,40,30,149,...,20170322,1,0,0,0,4,3,886.523,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,0
2,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,40,30,149,...,20170313,9,8,5,8,6,33,5610.564,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,0
3,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,40,30,149,...,20170319,1,0,0,0,0,1,0.131,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,0
4,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,20110918,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,40,30,149,...,20170323,1,0,1,0,38,32,9543.254,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,0

In [ ]:
df.dtypes

msno                       object
city                        int64
bd                          int64
gender                     object
registered_via              int64
registration_init_time      int64
msno_R                     object
payment_method_id           int64
payment_plan_days           int64
plan_list_price             int64
actual_amount_paid          int64
is_auto_renew               int64
transaction_date            int64
membership_expire_date      int64
is_cancel                   int64
msno_R1                    object
date                        int64
num_25                      int64
num_50                      int64
num_75                      int64
num_985                     int64
num_100                     int64
num_unq                     int64
total_secs                float64
msno_R2                    object
is_churn                    int64
dtype: object

Dropping unwated features from the dataset

In [ ]:
df=df.drop(['msno','bd','msno_R','msno_R1','num_25','num_50','num_75','num_985','num_100','num_unq','msno_R2','payment_method_id','date'], axis=1)

 Encoding  catergorcial variables found in the dataset

In [ ]:
from sklearn.preprocessing import LabelEncoder

# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
df['gender'] = labelencoder.fit_transform(df['gender'])

Spilting Target Feature

In [ ]:
features=df.drop('is_churn', axis=1)
labels=df['is_churn']

Using SMOTE OverSampling to Balance the imablance in classes found in the dataset

In [ ]:
from imblearn.over_sampling import SMOTE
# transform the dataset
oversample = SMOTE()
X, y = oversample.fit_resample(features, labels)

Nomralizing Dataset using MinMaxScalar

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(X)